<main class="create_page">
    <% if (status == "success") { %> 
        <%- include('../alerts/success', { message: message }) -%> 
    <%} else if(status == "error") {%> 
        <%- include('../alerts/error', { message: message }) -%> 
    <%}%>
    <h1>Edit Page</h1>

    <!-- <form action="/update_page/<%= pageData._id %>" method="POST" enctype="multipart/form-data"> -->
    <form action="/update_page/<%= pageData._id %>" method="POST" enctype="multipart/form-data">

        <div>
            <label for="title">Page Title:</label>
            <!-- Use the existing value of page.title as the default value -->
            <input type="text" name="title" id="title" value="<%= pageData.title %>" required>
        </div>
        <!-- Image Upload Field -->
        <div>
            <label for="image">Hero Image:</label>
            <div>
                <!-- Display the existing image -->
                <img src="<%= pageData.imagePath %>" alt="Current Image" style="max-width: 200px;">
            </div>
            <!-- Provide an option to change the image -->
            <input type="file" name="image" id="image" accept="image/*">
        </div>

        <!-- TinyMCE Editor -->
        <div>
            <label for="content">Content:</label>
            <textarea id="content" name="content"><%= pageData.content %></textarea>
        </div>

        <!-- Submit Button -->
        <div>
            <button type="submit">Update Page</button>
        </div>
    </form>

    <script>
        // Initialize TinyMCE
        tinymce.init({
            selector: 'textarea#content',
            // other configurations
            plugins: 'advlist autolink lists link image charmap print preview anchor searchreplace visualblocks code fullscreen insertdatetime media table paste code help wordcount',
        });

        document.querySelector('form').addEventListener('submit', function (event) {
            const editorContent = tinymce.get('content').getContent();

            if (editorContent.trim() === '') {
                alert('Content cannot be empty'); // You can display a more user-friendly message
                event.preventDefault(); // Prevent form submission
            }
        });
    </script>
</main>